<div class="team" id="members" *ngIf="false" >
  <div class="header-div">
    <div class="header header-caption" id="Td1">Kék csapat</div>
    <div class="header header-countdown choosing-countdown">:00</div>
  </div>

  <div id="memberstable">

  <div *ngFor="let member of members; let i = index"
         class="member"
         (click)="onMember(i);">
      <span class="member-count">{{member.left}}</span>
    </div>
  </div>
</div>

<div class="team" id="cards">
  <div class="header-div">
      <div class="header header-caption" id="header-caption">Kék csapat</div>
      <div class="header choosing-countdown">:00</div>
    </div>

  <div id="cardstable">
      <div *ngFor="let card of cards; let i = index"
        [class.card-used]="card.used == 2"
        [class.card-locked]="card.used == 1"
        class="card card-type-{{card.type}}"
        (click)="onCard(i)">
        <span class="card-symbol">{{card.symbol}}</span>
        <br />
        <span class="card-title">{{card.title}}</span>
      </div>
  </div>
</div>
